[init]
  defaultbranch = main

[commit]
  gpgsign = true

[gpg]
  program = gpg

[alias]
  unstage = reset HEAD --
  last = log -1 HEAD
  pf = push --force-with-lease

[credential]
  helper = cache

[push]
  default = current
  autosetupremote = true

[rerere]
  enabled = true

[pull]
  rebase = true

[core]
  excludesfile = ~/.gitignore
  autocrlf = false
  ignorecase = false