[ids]

*

[main]

capslock = overload(capslock, esc)

[shift]

capslock = layer(capslock_shift)

[capslock:C]

alt = layer(capslock_alt)
j = left
k = down
i = up
l = right
o = end
u = home
[ = backspace
] = delete
[capslock_alt]

j = C-left
k = C-down
i = C-up
l = C-right
[ = C-backspace
] = C-delete

[capslock_shift]

j = C-S-left
k = down
i = up
l = C-S-right
o = S-end
u = S-home
